<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <title>TIC-TAX-TOE</title>
</head>

<body>


  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Tic-Tax-Toe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">123</a>
          </li>
        </ul>
      </div>
      <div>
        {{#if employee}}
        Welcome back, {{employee.username}}
        <a href="/employees/logout" class="btn btn-danger btn-sm">Logout</a>
        {{else}}
        <div>
          Don't have an employee account? <a href="/employees/register" class="me-1">Sign up</a>
          <a href="/employees/login" class="btn btn-primary btn-sm">Login</a>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>


  <div class="container">
    {{#if success_messages }}
    {{#each success_messages}}
    <div class="alert alert-success">
      {{this}}
    </div>
    {{/each}}
    {{/if}}

    {{#if error_messages}}
    {{#each error_messages}}
    <div class="alert alert-danger">
      {{this}}
    </div>
    {{/each}}

    {{/if}}

    {{#block 'content'}}{{/block}}
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>